.body {
  overflow: auto;
  height: 100vh;

  &.noScroll {
    overflow: hidden;
  }
}

.footer {
  display: flex;
  max-width: 1520px;
  align-items: center;
  justify-content: space-between;
  margin: 60px auto;

  .leftSection {
    display: flex;
    align-items: center;
    gap: 60px;

    .logoBlock {
      display: flex;
      align-items: center;
      gap: 20px;

      p {
        font-size: 18px;
        font-weight: bold;
      }
    }

    .socials {
      display: flex;
      gap: 12px;
    }
  }

  .rightSection p {
    font-size: 18px;
    font-weight: bold;
  }
}