.group {
  position: relative;
  width: 80%;
  padding: 15px 0 0;
  margin-top: 10px;

  input {
    width: 100%;
    padding: 7px 0;
    border: 0;
    border-bottom: 2px solid var(--secondary-bg);
    background: transparent;
    color: var(--secondary-color);
    font-size: 1rem;
    outline: 0;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ label {
      top: 25px;
      cursor: text;
      font-size: 1rem;
    }

    &:focus {
      & ~ label {
        position: absolute;
        top: 0;
        display: block;
        color: var(--secondary-color);
        font-size: .8rem;
        font-weight:700;
        transition: 0.2s;
      }

      padding-bottom: 6px;
      border-bottom: 3px solid var(--secondary-bg);
    }
  }

  label {
    position: absolute;
    top: 0;
    display: block;
    color: var(--main-color);
    font-size: .8rem;
    transition: 0.2s;
  }

  .error {
    position: absolute;
    margin-top: 2px;
    color: #d00d0d;
    font-size: 14px;
  }

  &.error {
    label {
      color: #d00d0d !important;
    }

    input {
      border-color: #d00d0d;
    }
  }
}